.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 23%;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.workarea {
  margin-left: 23%;
  padding: 0px 10px;
  height: 100%;
  overflow: auto;
}