.nvl {
    font-size: 1rem;
    border-color: transparent;
    background-color: #fff;
    border-radius: 5%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: left;
    width: 50%;

}

.nvl:hover {
    background-color: #ccc;
    color: rgb(0, 0, 0);
}

.nv {
    font-size: 1rem;
    border-color: transparent;
    background-color: #fff;
    border-radius: 10%;
    background-color: transparent;
    color: rgb(0, 0, 0);
    text-align: center;
    align-items: right;
    width: 50%;

}

.nv:hover {
    background-color: #ccc;
    color: rgb(0, 0, 0);
}